<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

    
</head>
<body>
    <style>.box {  }; </style>
    <div class="box">
                <div id="03070cc1ddc94a838af7af47b950202b" class="chart-container" style="width:1000px; height:500px;"></div>
    <script>
        var chart_03070cc1ddc94a838af7af47b950202b = echarts.init(
            document.getElementById('03070cc1ddc94a838af7af47b950202b'), 'white', {renderer: 'canvas'});
        var option_03070cc1ddc94a838af7af47b950202b = {
    "backgroundColor": "rgba(255,250,205)",
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u5267\u60c5",
                    "value": 12051
                },
                {
                    "name": "\u5176\u4ed6",
                    "value": null
                },
                {
                    "name": "\u7231\u60c5",
                    "value": 6984
                },
                {
                    "name": "\u559c\u5267",
                    "value": 5823
                },
                {
                    "name": "\u52a8\u4f5c",
                    "value": 5021
                },
                {
                    "name": "\u79d1\u5e7b",
                    "value": 4791
                },
                {
                    "name": "\u5192\u9669",
                    "value": 3823
                },
                {
                    "name": "\u6218\u4e89",
                    "value": 3527
                },
                {
                    "name": "\u52a8\u753b",
                    "value": 3001
                },
                {
                    "name": "\u60ca\u609a",
                    "value": 2891
                },
                {
                    "name": "\u4f20\u8bb0",
                    "value": 2531
                },
                {
                    "name": "\u5386\u53f2",
                    "value": 2287
                },
                {
                    "name": "\u60ac\u7591",
                    "value": 2258
                },
                {
                    "name": "\u5947\u5e7b",
                    "value": 2097
                },
                {
                    "name": "\u72af\u7f6a",
                    "value": 2063
                },
                {
                    "name": "\u6050\u6016",
                    "value": 1797
                },
                {
                    "name": "\u5bb6\u5ead",
                    "value": 1165
                },
                {
                    "name": "\u53e4\u88c5",
                    "value": 982
                },
                {
                    "name": "\u6b66\u4fa0",
                    "value": 932
                },
                {
                    "name": "\u97f3\u4e50",
                    "value": 532
                },
                {
                    "name": "\u540c\u6027",
                    "value": 485
                },
                {
                    "name": "\u6b4c\u821e",
                    "value": 455
                },
                {
                    "name": "\u8fd0\u52a8",
                    "value": 294
                },
                {
                    "name": "\u513f\u7ae5",
                    "value": 246
                },
                {
                    "name": "\u897f\u90e8",
                    "value": 218
                },
                {
                    "name": "\u60c5\u8272",
                    "value": 210
                },
                {
                    "name": "\u707e\u96be",
                    "value": 158
                }
            ],
            "radius": [
                "0%",
                "75%"
            ],
            "center": [
                "50%",
                "50%"
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "fontSize": 10,
                "fontStyle": "italic",
                "fontWeight": "bold",
                "fontFamily": "Microsoft YaHei",
                "formatter": "{b}:{c}\u90e8"
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u5267\u60c5",
                "\u5176\u4ed6",
                "\u7231\u60c5",
                "\u559c\u5267",
                "\u52a8\u4f5c",
                "\u79d1\u5e7b",
                "\u5192\u9669",
                "\u6218\u4e89",
                "\u52a8\u753b",
                "\u60ca\u609a",
                "\u4f20\u8bb0",
                "\u5386\u53f2",
                "\u60ac\u7591",
                "\u5947\u5e7b",
                "\u72af\u7f6a",
                "\u6050\u6016",
                "\u5bb6\u5ead",
                "\u53e4\u88c5",
                "\u6b66\u4fa0",
                "\u97f3\u4e50",
                "\u540c\u6027",
                "\u6b4c\u821e",
                "\u8fd0\u52a8",
                "\u513f\u7ae5",
                "\u897f\u90e8",
                "\u60c5\u8272",
                "\u707e\u96be"
            ],
            "selected": {},
            "show": true,
            "bottom": "0%",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "icon": "circle"
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u7535\u5f71\u7c7b\u578b\u5360\u6bd4\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_03070cc1ddc94a838af7af47b950202b.setOption(option_03070cc1ddc94a838af7af47b950202b);
    </script>
<br/>                <div id="e64ef9674fdb426fba1ae566b48ab1c7" class="chart-container" style="width:1000px; height:500px;"></div>
    <script>
        var chart_e64ef9674fdb426fba1ae566b48ab1c7 = echarts.init(
            document.getElementById('e64ef9674fdb426fba1ae566b48ab1c7'), 'white', {renderer: 'canvas'});
        var option_e64ef9674fdb426fba1ae566b48ab1c7 = {
    "backgroundColor": "rgba(255,250,205)",
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "DarkCyan",
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "Reality-TV",
                    6.2
                ],
                [
                    "\u4f20\u8bb0",
                    7.29
                ],
                [
                    "\u4f20\u8bb0Biography",
                    8.6
                ],
                [
                    "\u50b3\u8a18Biography",
                    7.4
                ],
                [
                    "\u513f\u7ae5",
                    7.0
                ],
                [
                    "\u5192\u9669",
                    6.8
                ],
                [
                    "\u5267\u60c5",
                    7.16
                ],
                [
                    "\u5267\u60c5Drama",
                    8.6
                ],
                [
                    "\u5287\u60c5Drama",
                    7.4
                ],
                [
                    "\u52a8\u4f5c",
                    6.48
                ],
                [
                    "\u52a8\u753b",
                    7.49
                ],
                [
                    "\u52d5\u756bAnimation",
                    7.6
                ],
                [
                    "\u5386\u53f2",
                    7.14
                ],
                [
                    "\u53e4\u88c5",
                    6.53
                ],
                [
                    "\u540c\u6027",
                    7.16
                ],
                [
                    "\u559c\u5267",
                    6.84
                ],
                [
                    "\u5947\u5e7b",
                    6.83
                ],
                [
                    "\u5bb6\u5ead",
                    7.3
                ],
                [
                    "\u6050\u6016",
                    6.08
                ],
                [
                    "\u60ac\u5ff5",
                    6.7
                ],
                [
                    "\u60ac\u7591",
                    6.79
                ],
                [
                    "\u60c5\u8272",
                    6.37
                ],
                [
                    "\u60ca\u609a",
                    6.56
                ],
                [
                    "\u60ca\u6817",
                    5.3
                ],
                [
                    "\u620f\u66f2",
                    8.05
                ],
                [
                    "\u6218\u4e89",
                    6.96
                ],
                [
                    "\u6b4c\u821e",
                    7.47
                ],
                [
                    "\u6b66\u4fa0",
                    6.37
                ],
                [
                    "\u6b77\u53f2History",
                    7.4
                ],
                [
                    "\u707e\u96be",
                    6.25
                ],
                [
                    "\u7231\u60c5",
                    6.81
                ],
                [
                    "\u72af\u7f6a",
                    7.12
                ],
                [
                    "\u771f\u4eba\u79c0",
                    8.98
                ],
                [
                    "\u79d1\u5e7b",
                    6.23
                ],
                [
                    "\u8131\u53e3\u79c0",
                    8.38
                ],
                [
                    "\u821e\u53f0\u827a\u672f",
                    8.35
                ],
                [
                    "\u8352\u8bde",
                    6.75
                ],
                [
                    "\u897f\u90e8",
                    7.28
                ],
                [
                    "\u8fd0\u52a8",
                    7.34
                ],
                [
                    "\u97f3\u4e50",
                    7.5
                ],
                [
                    "\u9b3c\u602a",
                    7.26
                ],
                [
                    "\u9ed1\u8272\u7535\u5f71",
                    7.48
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {
                "": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "name": "\u7c7b\u578b",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "rotate": 25
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "Reality-TV",
                "\u4f20\u8bb0",
                "\u4f20\u8bb0Biography",
                "\u50b3\u8a18Biography",
                "\u513f\u7ae5",
                "\u5192\u9669",
                "\u5267\u60c5",
                "\u5267\u60c5Drama",
                "\u5287\u60c5Drama",
                "\u52a8\u4f5c",
                "\u52a8\u753b",
                "\u52d5\u756bAnimation",
                "\u5386\u53f2",
                "\u53e4\u88c5",
                "\u540c\u6027",
                "\u559c\u5267",
                "\u5947\u5e7b",
                "\u5bb6\u5ead",
                "\u6050\u6016",
                "\u60ac\u5ff5",
                "\u60ac\u7591",
                "\u60c5\u8272",
                "\u60ca\u609a",
                "\u60ca\u6817",
                "\u620f\u66f2",
                "\u6218\u4e89",
                "\u6b4c\u821e",
                "\u6b66\u4fa0",
                "\u6b77\u53f2History",
                "\u707e\u96be",
                "\u7231\u60c5",
                "\u72af\u7f6a",
                "\u771f\u4eba\u79c0",
                "\u79d1\u5e7b",
                "\u8131\u53e3\u79c0",
                "\u821e\u53f0\u827a\u672f",
                "\u8352\u8bde",
                "\u897f\u90e8",
                "\u8fd0\u52a8",
                "\u97f3\u4e50",
                "\u9b3c\u602a",
                "\u9ed1\u8272\u7535\u5f71"
            ]
        }
    ],
    "yAxis": [
        {
            "name": "\u8bc4\u5206",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "min": "4",
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u4e0d\u540c\u7c7b\u578b\u7535\u5f71\u7684\u5e73\u5747\u8bc4\u5206",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_e64ef9674fdb426fba1ae566b48ab1c7.setOption(option_e64ef9674fdb426fba1ae566b48ab1c7);
    </script>
<br/>    </div>
    <script>
    </script>
</body>
</html>
