<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

    
</head>
<body>
    <style>.box {  }; </style>
    <div class="box">
                <div id="7f82bd05f09a498f950ea2aad35c2d3e" class="chart-container" style="width:1000px; height:500px;"></div>
    <script>
        var chart_7f82bd05f09a498f950ea2aad35c2d3e = echarts.init(
            document.getElementById('7f82bd05f09a498f950ea2aad35c2d3e'), 'white', {renderer: 'canvas'});
        var option_7f82bd05f09a498f950ea2aad35c2d3e = {
    "backgroundColor": "rgba(255,250,205)",
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "green",
        "red",
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u5168\u7403\u7535\u5f71\u4ea7\u91cf",
            "connectNulls": false,
            "symbolSize": 3,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "2000",
                    481
                ],
                [
                    "2001",
                    545
                ],
                [
                    "2002",
                    548
                ],
                [
                    "2003",
                    579
                ],
                [
                    "2004",
                    668
                ],
                [
                    "2005",
                    736
                ],
                [
                    "2006",
                    810
                ],
                [
                    "2007",
                    831
                ],
                [
                    "2008",
                    817
                ],
                [
                    "2009",
                    895
                ],
                [
                    "2010",
                    860
                ],
                [
                    "2011",
                    805
                ],
                [
                    "2012",
                    843
                ],
                [
                    "2013",
                    948
                ],
                [
                    "2014",
                    1055
                ],
                [
                    "2015",
                    1130
                ],
                [
                    "2016",
                    1307
                ],
                [
                    "2017",
                    1425
                ],
                [
                    "2018",
                    1481
                ],
                [
                    "2019",
                    1443
                ],
                [
                    "2020",
                    1061
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u4e2d\u56fd\u7535\u5f71\u4ea7\u91cf",
            "connectNulls": false,
            "symbolSize": 3,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "2000",
                    26
                ],
                [
                    "2001",
                    27
                ],
                [
                    "2002",
                    24
                ],
                [
                    "2003",
                    32
                ],
                [
                    "2004",
                    28
                ],
                [
                    "2005",
                    60
                ],
                [
                    "2006",
                    58
                ],
                [
                    "2007",
                    67
                ],
                [
                    "2008",
                    50
                ],
                [
                    "2009",
                    87
                ],
                [
                    "2010",
                    131
                ],
                [
                    "2011",
                    148
                ],
                [
                    "2012",
                    146
                ],
                [
                    "2013",
                    166
                ],
                [
                    "2014",
                    187
                ],
                [
                    "2015",
                    226
                ],
                [
                    "2016",
                    330
                ],
                [
                    "2017",
                    365
                ],
                [
                    "2018",
                    381
                ],
                [
                    "2019",
                    348
                ],
                [
                    "2020",
                    340
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u5168\u7403\u7535\u5f71\u4ea7\u91cf",
                "\u4e2d\u56fd\u7535\u5f71\u4ea7\u91cf"
            ],
            "selected": {
                "\u5168\u7403\u7535\u5f71\u4ea7\u91cf": true,
                "\u4e2d\u56fd\u7535\u5f71\u4ea7\u91cf": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "name": "\u5e74\u4efd",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2000",
                "2001",
                "2002",
                "2003",
                "2004",
                "2005",
                "2006",
                "2007",
                "2008",
                "2009",
                "2010",
                "2011",
                "2012",
                "2013",
                "2014",
                "2015",
                "2016",
                "2017",
                "2018",
                "2019",
                "2020"
            ]
        }
    ],
    "yAxis": [
        {
            "name": "\u7535\u5f71\u4ea7\u91cf",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u5168\u7403\u53ca\u4e2d\u56fd\u5927\u9646\u7535\u5f71\u4ea7\u91cf\u8d70\u52bf\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_7f82bd05f09a498f950ea2aad35c2d3e.setOption(option_7f82bd05f09a498f950ea2aad35c2d3e);
    </script>
<br/>                <div id="4d15fa2ffd21431196ce9b9751e5d146" class="chart-container" style="width:1000px; height:500px;"></div>
    <script>
        var chart_4d15fa2ffd21431196ce9b9751e5d146 = echarts.init(
            document.getElementById('4d15fa2ffd21431196ce9b9751e5d146'), 'white', {renderer: 'canvas'});
        var option_4d15fa2ffd21431196ce9b9751e5d146 = {
    "backgroundColor": "rgba(255,250,205)",
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "blue",
        "DarkCyan",
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u5168\u7403\u7535\u5f71\u5e73\u5747\u8bc4\u5206",
            "connectNulls": false,
            "symbolSize": 3,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "2000",
                    7.37
                ],
                [
                    "2001",
                    7.17
                ],
                [
                    "2002",
                    7.23
                ],
                [
                    "2003",
                    7.15
                ],
                [
                    "2004",
                    7.18
                ],
                [
                    "2005",
                    7.02
                ],
                [
                    "2006",
                    6.98
                ],
                [
                    "2007",
                    6.93
                ],
                [
                    "2008",
                    6.81
                ],
                [
                    "2009",
                    6.84
                ],
                [
                    "2010",
                    6.71
                ],
                [
                    "2011",
                    6.56
                ],
                [
                    "2012",
                    6.54
                ],
                [
                    "2013",
                    6.51
                ],
                [
                    "2014",
                    6.44
                ],
                [
                    "2015",
                    6.45
                ],
                [
                    "2016",
                    6.33
                ],
                [
                    "2017",
                    6.33
                ],
                [
                    "2018",
                    6.31
                ],
                [
                    "2019",
                    6.45
                ],
                [
                    "2020",
                    6.21
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u4e2d\u56fd\u7535\u5f71\u5e73\u5747\u8bc4\u5206",
            "connectNulls": false,
            "symbolSize": 3,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "2000",
                    7.38
                ],
                [
                    "2001",
                    7.15
                ],
                [
                    "2002",
                    7.17
                ],
                [
                    "2003",
                    6.78
                ],
                [
                    "2004",
                    6.71
                ],
                [
                    "2005",
                    6.63
                ],
                [
                    "2006",
                    6.78
                ],
                [
                    "2007",
                    6.66
                ],
                [
                    "2008",
                    6.53
                ],
                [
                    "2009",
                    6.41
                ],
                [
                    "2010",
                    5.96
                ],
                [
                    "2011",
                    5.62
                ],
                [
                    "2012",
                    5.58
                ],
                [
                    "2013",
                    5.22
                ],
                [
                    "2014",
                    5.14
                ],
                [
                    "2015",
                    5.37
                ],
                [
                    "2016",
                    5.04
                ],
                [
                    "2017",
                    5.28
                ],
                [
                    "2018",
                    5.3
                ],
                [
                    "2019",
                    5.45
                ],
                [
                    "2020",
                    5.21
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u5168\u7403\u7535\u5f71\u5e73\u5747\u8bc4\u5206",
                "\u4e2d\u56fd\u7535\u5f71\u5e73\u5747\u8bc4\u5206"
            ],
            "selected": {
                "\u5168\u7403\u7535\u5f71\u5e73\u5747\u8bc4\u5206": true,
                "\u4e2d\u56fd\u7535\u5f71\u5e73\u5747\u8bc4\u5206": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "name": "\u5e74\u4efd",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2000",
                "2001",
                "2002",
                "2003",
                "2004",
                "2005",
                "2006",
                "2007",
                "2008",
                "2009",
                "2010",
                "2011",
                "2012",
                "2013",
                "2014",
                "2015",
                "2016",
                "2017",
                "2018",
                "2019",
                "2020"
            ]
        }
    ],
    "yAxis": [
        {
            "name": "\u5e73\u5747\u8bc4\u5206",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "min": "4.5",
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u5168\u7403\u53ca\u4e2d\u56fd\u5927\u9646\u7535\u5f71\u5e73\u5747\u8bc4\u5206\u8d70\u52bf\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_4d15fa2ffd21431196ce9b9751e5d146.setOption(option_4d15fa2ffd21431196ce9b9751e5d146);
    </script>
<br/>    </div>
    <script>
    </script>
</body>
</html>
