<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

    
</head>
<body>
    <style>.box {  }; </style>
    <div class="box">
                <div id="1cacca088d7c4072afba3ea59c70610a" class="chart-container" style="width:1000px; height:500px;"></div>
    <script>
        var chart_1cacca088d7c4072afba3ea59c70610a = echarts.init(
            document.getElementById('1cacca088d7c4072afba3ea59c70610a'), 'white', {renderer: 'canvas'});
        var option_1cacca088d7c4072afba3ea59c70610a = {
    "backgroundColor": "rgba(255,250,205)",
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "DarkCyan",
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "legendHoverLink": true,
            "data": [
                127,
                120,
                108,
                98,
                96,
                94,
                90,
                89,
                87,
                86,
                86,
                82,
                82,
                80,
                76,
                74,
                74,
                73,
                71,
                68
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {
                "": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "name": "\u4e3b\u6f14",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "rotate": 45
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                " \u66fe\u5fd7\u4f1f ",
                " \u5218\u5fb7\u534e ",
                " \u6797\u96ea ",
                " \u5c71\u53e3\u80dc\u5e73 ",
                " \u4efb\u8fbe\u534e ",
                " \u5927\u8c37\u80b2\u6c5f ",
                " \u5c71\u5bfa\u5b8f\u4e00 ",
                " \u6797\u539f\u60e0\u7f8e ",
                " \u5434\u541b\u5982 ",
                " \u6881\u5bb6\u8f89 ",
                " \u9ec4\u79cb\u751f ",
                " \u6210\u9f99 ",
                " \u5173\u667a\u4e00 ",
                " \u53e4\u5929\u4e50 ",
                " \u6a31\u4e95\u5b5d\u5b8f ",
                " \u4e09\u77f3\u7434\u4e43 ",
                " \u5434\u5b5f\u8fbe ",
                " \u4e09\u6728\u771f\u4e00\u90ce ",
                " \u5927\u536b\u00b7\u82cf\u5207 ",
                " \u795e\u8c37\u6d69\u53f2 "
            ]
        }
    ],
    "yAxis": [
        {
            "name": "\u4ea7\u91cf",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "min": "50",
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u7535\u5f71\u4ea7\u91cf\u6700\u591a\u7684\u524d20\u540d\u4e3b\u6f14",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_1cacca088d7c4072afba3ea59c70610a.setOption(option_1cacca088d7c4072afba3ea59c70610a);
    </script>
<br/>                <div id="73eea46869034871a8981d5a3c4c2558" class="chart-container" style="width:1000px; height:500px;"></div>
    <script>
        var chart_73eea46869034871a8981d5a3c4c2558 = echarts.init(
            document.getElementById('73eea46869034871a8981d5a3c4c2558'), 'white', {renderer: 'canvas'});
        var option_73eea46869034871a8981d5a3c4c2558 = {
    "backgroundColor": "rgba(255,250,205)",
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "rosybrown",
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "legendHoverLink": true,
            "data": [
                67,
                43,
                40,
                36,
                35,
                35,
                35,
                34,
                31,
                28,
                28,
                28,
                28,
                28,
                28,
                26,
                23,
                23,
                23,
                23
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {
                "": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "name": "\u5bfc\u6f14",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "rotate": 45
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                " \u738b\u6676",
                " \u5f20\u5f7b",
                " \u5f90\u514b",
                " \u4f0d\u8fea\u00b7\u827e\u4f26",
                " \u677e\u6d66\u5e79\u4e09",
                " \u675c\u742a\u5cf0",
                " \u695a\u539f",
                " \u963f\u5c14\u5f17\u96f7\u5fb7\u00b7\u5e0c\u533a\u67ef\u514b",
                " \u6771\u6751\u5b97\u4ecb",
                " \u90b1\u793c\u6d9b",
                " \u53f2\u8482\u6587\u00b7\u65af\u76ae\u5c14\u4f2f\u683c",
                " \u6c64\u5c71\u90a6\u5f66",
                " \u9093\u884d\u6210",
                " \u6731\u5ef6\u5e73",
                " \u5218\u9547\u4f1f",
                " \u5218\u4f1f\u5f3a",
                " \u9a6c\u4f1f\u8c6a",
                " \u5824\u5e78\u5f66",
                " \u829d\u5c71\u52aa",
                " \u674e\u7ff0\u7965"
            ]
        }
    ],
    "yAxis": [
        {
            "name": "\u4ea7\u91cf",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "min": "10",
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u7535\u5f71\u4ea7\u91cf\u6700\u591a\u7684\u524d20\u540d\u5bfc\u6f14",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_73eea46869034871a8981d5a3c4c2558.setOption(option_73eea46869034871a8981d5a3c4c2558);
    </script>
<br/>    </div>
    <script>
    </script>
</body>
</html>
