<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

    
</head>
<body>
    <style>.box {  }; </style>
    <div class="box">
                <div id="fe88222bb4b74b3f8649b8b4e626b915" class="chart-container" style="width:1000px; height:500px;"></div>
    <script>
        var chart_fe88222bb4b74b3f8649b8b4e626b915 = echarts.init(
            document.getElementById('fe88222bb4b74b3f8649b8b4e626b915'), 'white', {renderer: 'canvas'});
        var option_fe88222bb4b74b3f8649b8b4e626b915 = {
    "backgroundColor": "rgba(255,250,205)",
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "funnel",
            "data": [
                {
                    "name": "2.0=>4.0",
                    "value": 783
                },
                {
                    "name": "4.0=>6.0",
                    "value": 2943
                },
                {
                    "name": "6.0=>8.0",
                    "value": 11545
                },
                {
                    "name": "8.0=>10.0",
                    "value": 3464
                }
            ],
            "sort": "descending",
            "gap": 0,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "8.0=>10.0",
                "4.0=>6.0",
                "6.0=>8.0",
                "2.0=>4.0"
            ],
            "selected": {
                "2.0=>4.0": true,
                "4.0=>6.0": true,
                "6.0=>8.0": true,
                "8.0=>10.0": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u7535\u5f71\u8bc4\u5206\u533a\u95f4\u6f0f\u6597\u56fe",
            "subtext": "\u7535\u5f71\u8bc4\u5206",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_fe88222bb4b74b3f8649b8b4e626b915.setOption(option_fe88222bb4b74b3f8649b8b4e626b915);
    </script>
<br/>                <div id="03cad9562a804c92b64766708f92c576" class="chart-container" style="width:1000px; height:500px;"></div>
    <script>
        var chart_03cad9562a804c92b64766708f92c576 = echarts.init(
            document.getElementById('03cad9562a804c92b64766708f92c576'), 'white', {renderer: 'canvas'});
        var option_03cad9562a804c92b64766708f92c576 = {
    "backgroundColor": "rgba(255,250,205)",
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "parallel",
            "coordinateSystem": "parallel",
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "data": [
                [
                    3.292297111416781,
                    92.58734525447042,
                    5050.392022008253,
                    "\u6781\u5dee"
                ],
                [
                    5.251749915052647,
                    97.37206931702345,
                    11492.407067618076,
                    "\u53ca\u683c"
                ],
                [
                    7.038899956691236,
                    102.17652663490689,
                    17682.990125595497,
                    "\u826f\u597d"
                ],
                [
                    8.426587759815181,
                    102.56668591224019,
                    67833.22199769053,
                    "\u4f18\u79c0"
                ]
            ],
            "smooth": false
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {
                "": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "parallel": {
        "left": "5%",
        "right": "13%",
        "bottom": "10%",
        "top": "20%"
    },
    "parallelAxis": [
        {
            "dim": 0,
            "name": "\u5e73\u5747\u8bc4\u5206",
            "scale": false
        },
        {
            "dim": 1,
            "name": "\u5e73\u5747\u7247\u957f",
            "scale": false
        },
        {
            "dim": 2,
            "name": "\u5e73\u5747\u8bc4\u4ef7\u4eba\u6570",
            "scale": false
        },
        {
            "dim": 3,
            "name": "\u7b49\u7ea7",
            "data": [
                "\u6781\u5dee",
                "\u53ca\u683c",
                "\u826f\u597d",
                "\u4f18\u79c0"
            ],
            "type": "category",
            "scale": false
        }
    ],
    "title": [
        {
            "text": "\u4e0d\u540c\u7b49\u7ea7\u7535\u5f71\u7684\u5e73\u884c\u5750\u6807\u7cfb\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_03cad9562a804c92b64766708f92c576.setOption(option_03cad9562a804c92b64766708f92c576);
    </script>
<br/>    </div>
    <script>
    </script>
</body>
</html>
