<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="1741fce6f28d4ba9ae824dcac25f8c68" class="chart-container" style="width:800px; height:900px;"></div>
    <script>
        var chart_1741fce6f28d4ba9ae824dcac25f8c68 = echarts.init(
            document.getElementById('1741fce6f28d4ba9ae824dcac25f8c68'), 'white', {renderer: 'canvas'});
        var option_1741fce6f28d4ba9ae824dcac25f8c68 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": " \u77f3\u7530\u5f70 ",
                    "value": 64
                },
                {
                    "name": " \u72c4\u9f99 ",
                    "value": 64
                },
                {
                    "name": " \u9ad8\u5c71\u5357 ",
                    "value": 65
                },
                {
                    "name": " \u5468\u6da6\u53d1 ",
                    "value": 66
                },
                {
                    "name": " \u795e\u8c37\u6d69\u53f2 ",
                    "value": 68
                },
                {
                    "name": " \u5434\u9547\u5b87 ",
                    "value": 68
                },
                {
                    "name": " \u5927\u536b\u00b7\u82cf\u5207 ",
                    "value": 71
                },
                {
                    "name": " \u4e09\u6728\u771f\u4e00\u90ce ",
                    "value": 73
                },
                {
                    "name": " \u4e09\u77f3\u7434\u4e43 ",
                    "value": 74
                },
                {
                    "name": " \u5434\u5b5f\u8fbe ",
                    "value": 74
                },
                {
                    "name": " \u6a31\u4e95\u5b5d\u5b8f ",
                    "value": 76
                },
                {
                    "name": " \u53e4\u5929\u4e50 ",
                    "value": 80
                },
                {
                    "name": " \u6210\u9f99 ",
                    "value": 82
                },
                {
                    "name": " \u5173\u667a\u4e00 ",
                    "value": 82
                },
                {
                    "name": " \u9ec4\u79cb\u751f ",
                    "value": 86
                },
                {
                    "name": " \u6881\u5bb6\u8f89 ",
                    "value": 86
                },
                {
                    "name": " \u5434\u541b\u5982 ",
                    "value": 87
                },
                {
                    "name": " \u6797\u539f\u60e0\u7f8e ",
                    "value": 89
                },
                {
                    "name": " \u5c71\u5bfa\u5b8f\u4e00 ",
                    "value": 90
                },
                {
                    "name": " \u5927\u8c37\u80b2\u6c5f ",
                    "value": 94
                },
                {
                    "name": " \u4efb\u8fbe\u534e ",
                    "value": 96
                },
                {
                    "name": " \u5c71\u53e3\u80dc\u5e73 ",
                    "value": 98
                },
                {
                    "name": " \u6797\u96ea ",
                    "value": 108
                },
                {
                    "name": " \u5218\u5fb7\u534e ",
                    "value": 120
                },
                {
                    "name": " \u66fe\u5fd7\u4f1f ",
                    "value": 127
                }
            ],
            "radius": [
                "25%",
                "100%"
            ],
            "center": [
                "50%",
                "50%"
            ],
            "roseType": "area",
            "label": {
                "show": true,
                "position": "inside",
                "margin": 8,
                "fontSize": 12,
                "fontStyle": "italic",
                "fontWeight": "bold",
                "fontFamily": "Microsoft YaHei",
                "formatter": "{b}:{c}\u90e8"
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                " \u77f3\u7530\u5f70 ",
                " \u72c4\u9f99 ",
                " \u9ad8\u5c71\u5357 ",
                " \u5468\u6da6\u53d1 ",
                " \u795e\u8c37\u6d69\u53f2 ",
                " \u5434\u9547\u5b87 ",
                " \u5927\u536b\u00b7\u82cf\u5207 ",
                " \u4e09\u6728\u771f\u4e00\u90ce ",
                " \u4e09\u77f3\u7434\u4e43 ",
                " \u5434\u5b5f\u8fbe ",
                " \u6a31\u4e95\u5b5d\u5b8f ",
                " \u53e4\u5929\u4e50 ",
                " \u6210\u9f99 ",
                " \u5173\u667a\u4e00 ",
                " \u9ec4\u79cb\u751f ",
                " \u6881\u5bb6\u8f89 ",
                " \u5434\u541b\u5982 ",
                " \u6797\u539f\u60e0\u7f8e ",
                " \u5c71\u5bfa\u5b8f\u4e00 ",
                " \u5927\u8c37\u80b2\u6c5f ",
                " \u4efb\u8fbe\u534e ",
                " \u5c71\u53e3\u80dc\u5e73 ",
                " \u6797\u96ea ",
                " \u5218\u5fb7\u534e ",
                " \u66fe\u5fd7\u4f1f "
            ],
            "selected": {},
            "show": false,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u7535\u5f71\u6570\u91cf\u6700\u591a\u768425\u540d\u4e3b\u6f14",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_1741fce6f28d4ba9ae824dcac25f8c68.setOption(option_1741fce6f28d4ba9ae824dcac25f8c68);
    </script>
</body>
</html>
