<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="5d3a02601f3545ecb21ee44ba51ecadd" class="chart-container" style="width:600px; height:800px;"></div>
    <script>
        var chart_5d3a02601f3545ecb21ee44ba51ecadd = echarts.init(
            document.getElementById('5d3a02601f3545ecb21ee44ba51ecadd'), 'white', {renderer: 'canvas'});
        var option_5d3a02601f3545ecb21ee44ba51ecadd = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": " \u4e2d\u56fd\u9999\u6e2f ",
                    "value": 282
                },
                {
                    "name": " \u82cf\u8054",
                    "value": 289
                },
                {
                    "name": " \u610f\u5927\u5229 ",
                    "value": 349
                },
                {
                    "name": " \u5370\u5ea6",
                    "value": 357
                },
                {
                    "name": " \u5fb7\u56fd ",
                    "value": 394
                },
                {
                    "name": " \u52a0\u62ff\u5927",
                    "value": 464
                },
                {
                    "name": " \u4e2d\u56fd\u53f0\u6e7e",
                    "value": 474
                },
                {
                    "name": " \u610f\u5927\u5229",
                    "value": 501
                },
                {
                    "name": " \u4e2d\u56fd\u5927\u9646 ",
                    "value": 505
                },
                {
                    "name": " \u5fb7\u56fd",
                    "value": 597
                },
                {
                    "name": " \u82f1\u56fd ",
                    "value": 797
                },
                {
                    "name": " \u97e9\u56fd",
                    "value": 807
                },
                {
                    "name": " \u6cd5\u56fd ",
                    "value": 857
                },
                {
                    "name": " \u6cd5\u56fd",
                    "value": 1027
                },
                {
                    "name": " \u7f8e\u56fd ",
                    "value": 1132
                },
                {
                    "name": " \u82f1\u56fd",
                    "value": 1439
                },
                {
                    "name": " \u4e2d\u56fd\u9999\u6e2f",
                    "value": 1759
                },
                {
                    "name": " \u65e5\u672c",
                    "value": 3231
                },
                {
                    "name": " \u4e2d\u56fd\u5927\u9646",
                    "value": 3888
                },
                {
                    "name": " \u5176\u4ed6\u56fd\u5bb6 ",
                    "value": 5559
                },
                {
                    "name": " \u7f8e\u56fd",
                    "value": 7550
                }
            ],
            "radius": [
                "0%",
                "75%"
            ],
            "center": [
                "50%",
                "50%"
            ],
            "label": {
                "show": false,
                "position": "inside",
                "margin": 8,
                "fontSize": 12,
                "fontStyle": "italic",
                "fontWeight": "bold",
                "fontFamily": "Microsoft YaHei",
                "formatter": "{b}:{c}\u90e8"
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                " \u4e2d\u56fd\u9999\u6e2f ",
                " \u82cf\u8054",
                " \u610f\u5927\u5229 ",
                " \u5370\u5ea6",
                " \u5fb7\u56fd ",
                " \u52a0\u62ff\u5927",
                " \u4e2d\u56fd\u53f0\u6e7e",
                " \u610f\u5927\u5229",
                " \u4e2d\u56fd\u5927\u9646 ",
                " \u5fb7\u56fd",
                " \u82f1\u56fd ",
                " \u97e9\u56fd",
                " \u6cd5\u56fd ",
                " \u6cd5\u56fd",
                " \u7f8e\u56fd ",
                " \u82f1\u56fd",
                " \u4e2d\u56fd\u9999\u6e2f",
                " \u65e5\u672c",
                " \u4e2d\u56fd\u5927\u9646",
                " \u5176\u4ed6\u56fd\u5bb6 ",
                " \u7f8e\u56fd"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_5d3a02601f3545ecb21ee44ba51ecadd.setOption(option_5d3a02601f3545ecb21ee44ba51ecadd);
    </script>
</body>
</html>
