<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="32d33142ed3f4201999423e1a69e45df" class="chart-container" style="width:800px; height:900px;"></div>
    <script>
        var chart_32d33142ed3f4201999423e1a69e45df = echarts.init(
            document.getElementById('32d33142ed3f4201999423e1a69e45df'), 'white', {renderer: 'canvas'});
        var option_32d33142ed3f4201999423e1a69e45df = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u707e\u96be",
                    "value": 158
                },
                {
                    "name": "\u5176\u4ed6",
                    "value": null
                },
                {
                    "name": "\u60c5\u8272",
                    "value": 210
                },
                {
                    "name": "\u897f\u90e8",
                    "value": 218
                },
                {
                    "name": "\u513f\u7ae5",
                    "value": 246
                },
                {
                    "name": "\u8fd0\u52a8",
                    "value": 294
                },
                {
                    "name": "\u6b4c\u821e",
                    "value": 455
                },
                {
                    "name": "\u540c\u6027",
                    "value": 485
                },
                {
                    "name": "\u97f3\u4e50",
                    "value": 532
                },
                {
                    "name": "\u6b66\u4fa0",
                    "value": 932
                },
                {
                    "name": "\u53e4\u88c5",
                    "value": 982
                },
                {
                    "name": "\u5bb6\u5ead",
                    "value": 1165
                },
                {
                    "name": "\u6050\u6016",
                    "value": 1797
                },
                {
                    "name": "\u72af\u7f6a",
                    "value": 2063
                },
                {
                    "name": "\u5947\u5e7b",
                    "value": 2097
                },
                {
                    "name": "\u60ac\u7591",
                    "value": 2258
                },
                {
                    "name": "\u5386\u53f2",
                    "value": 2287
                },
                {
                    "name": "\u4f20\u8bb0",
                    "value": 2531
                },
                {
                    "name": "\u60ca\u609a",
                    "value": 2891
                },
                {
                    "name": "\u52a8\u753b",
                    "value": 3001
                },
                {
                    "name": "\u6218\u4e89",
                    "value": 3527
                },
                {
                    "name": "\u5192\u9669",
                    "value": 3823
                },
                {
                    "name": "\u79d1\u5e7b",
                    "value": 4791
                },
                {
                    "name": "\u52a8\u4f5c",
                    "value": 5021
                },
                {
                    "name": "\u559c\u5267",
                    "value": 5823
                },
                {
                    "name": "\u7231\u60c5",
                    "value": 6984
                },
                {
                    "name": "\u5267\u60c5",
                    "value": 12051
                }
            ],
            "radius": [
                "25%",
                "100%"
            ],
            "center": [
                "50%",
                "50%"
            ],
            "roseType": "area",
            "label": {
                "show": true,
                "position": "inside",
                "margin": 8,
                "fontSize": 12,
                "fontStyle": "italic",
                "fontWeight": "bold",
                "fontFamily": "Microsoft YaHei",
                "formatter": "{b}:{c}\u90e8"
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u707e\u96be",
                "\u5176\u4ed6",
                "\u60c5\u8272",
                "\u897f\u90e8",
                "\u513f\u7ae5",
                "\u8fd0\u52a8",
                "\u6b4c\u821e",
                "\u540c\u6027",
                "\u97f3\u4e50",
                "\u6b66\u4fa0",
                "\u53e4\u88c5",
                "\u5bb6\u5ead",
                "\u6050\u6016",
                "\u72af\u7f6a",
                "\u5947\u5e7b",
                "\u60ac\u7591",
                "\u5386\u53f2",
                "\u4f20\u8bb0",
                "\u60ca\u609a",
                "\u52a8\u753b",
                "\u6218\u4e89",
                "\u5192\u9669",
                "\u79d1\u5e7b",
                "\u52a8\u4f5c",
                "\u559c\u5267",
                "\u7231\u60c5",
                "\u5267\u60c5"
            ],
            "selected": {},
            "show": false,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u5404\u79cd\u7535\u5f71\u7c7b\u578b\u7684\u6570\u91cf",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_32d33142ed3f4201999423e1a69e45df.setOption(option_32d33142ed3f4201999423e1a69e45df);
    </script>
</body>
</html>
